{% extends 'notes/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ note_title }} | Simple Notes {% endblock %}

{% block content %}
<div class="timeline is-centered is-hidden-mobile">
    {% if note_versions %}
        <header class="timeline-header">
            <span class="tag is-medium is-info">{% translate "Start" context "Label" %}</span>
        </header>

        {% for note_version in note_versions %}
            <div class="timeline-item is-danger">
                <div class="timeline-marker is-info"></div>
                <div class="timeline-content">
                    <p class="heading">{{ note_version.title }} | {{ note_version.created_at }}</p>
                    {% if note_version.message %}
                        <p>{{ note_version.message }}</p>
                    {% endif %}
                    <div style="display: inline">
                        <a href="{% url 'notes:view-note-version' notebook_title note_version.id %}">{% translate "View" context "Link" %}</a> / <a href="{% url 'notes:remove-note-version' notebook_title note_version.id %}">{% translate "Remove" context "Link" %}</a> / <a href="{% url 'notes:restore-note-version' notebook_title note_version.id %}">{% translate "Restore" context "Link" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <header class="timeline-header">
            <span class="tag is-medium is-info">{% translate "End" context "Label" %}</span>
        </header>
    {% else %}
        {% load static %}
        <article class="block has-text-centered">
            <p class="title">{% translate "There's no versions yet" %}</p>
            <p class="subtitle">{% translate "Press <b>Add</b> button in order to add a new version." %}</p>
            <figure style="margin: 0 auto; width: 35vw;" class="image is-128x128">
                <img src="{% static 'images/not_found.svg' %}">
            </figure>
        </article>
    {% endif %}
</div>

<div class="timeline is-hidden-desktop is-hidden-tablet">
    {% if note_versions %}
        <header class="timeline-header">
            <span class="tag is-medium is-info">{% translate "Start" context "Label" %}</span>
        </header>

        {% for note_version in note_versions %}
            <div class="timeline-item is-danger">
                <div class="timeline-marker is-info"></div>
                <div class="timeline-content">
                    <p class="heading">{{ note_version.title }} | {{ note_version.created_at }}</p>
                    {% if note_version.message %}
                        <p>{{ note_version.message }}</p>
                    {% endif %}
                    <div style="display: inline">
                        <a href="{% url 'notes:view-note-version' notebook_title note_version.id %}">{% translate "View" context "Link" %}</a> / <a href="{% url 'notes:remove-note-version' notebook_title note_version.id %}">{% translate "Remove" context "Link" %}</a> / <a href="{% url 'notes:restore-note-version' notebook_title note_version.id %}">{% translate "Restore" context "Link" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <header class="timeline-header">
            <span class="tag is-medium is-info">{% translate "End" context "Label" %}</span>
        </header>
    {% else %}
        {% load static %}
        <article class="block has-text-centered">
            <p class="title">{% translate "There's no versions yet" %}</p>
            <p class="subtitle">{% translate "Press <b>Add</b> button in order to add a new version." %}</p>
            <figure style="margin: 0 auto; width: 35vw;" class="image is-128x128">
                <img src="{% static 'images/not_found.svg' %}">
            </figure>
        </article>
    {% endif %}
</div>
{% endblock %}
