<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Simple Notes{% endblock %}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
		<style>
			html, body {
				width: 100%;
				height: 100%;
			}

            .errorlist {
                color: red;
            }
		</style>
	</head>
	<body>
		<div style="width: 100%; height: 100%;" class="columns is-centered is-vcentered mx-0 my-0">
			<div class="box column is-narrow px-6 pt-6 pb-5">
                {% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
