{% extends 'notes/base.html' %}

{% block title %}New Note | {{ title }}{% endblock %}

{% block content %}
	<form action="{% url 'notes:create-note' title %}" method="POST">
		{% csrf_token %}
		<div class="columns">
			<div class="column">
				<div class="breadcrumb is-left" aria-label="breadcrumbs">
					<ul>
						<li><a href="{% url 'notes:index' %}"><b>Notebooks</b></a></li>
						<li><a href="{% url 'notes:view-notes' title %}">{{ title }}</a></li>
						<li class="is-active"><a href="#">New Note</a></li>
					</ul>
				</div>
			</div>

			<div class="column">
				<nav class="tabs is-right is-toggle is-toggle-rounded">
					<ul>
						<li>
							<a onclick="this.closest('form').submit(); return false;">
								<span class="icon is-small">
									<i class="fa fa-floppy-o" aria-hidden="true"></i>
								</span>
								<span>Save</span>
							</a>
						</li>
						<li>
							<a href="{% url 'notes:view-notes' title %}">
								<span class="icon is-small">
									<i class="fa fa-undo" aria-hidden="true"></i>
								</span>
								<span>Discard</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="columns is-multiline is-desktop">
			<div class="field column is-12">
				<article class="columns control box">
					<input class="input column is-12" type="text" placeholder="My Note's Title" name="title">
				</article>
			</div>

			<div class="field column is-12">
				<article class="columns is-mobile control box">
					<textarea class="column is-12 input" id="field-content" placeholder="Note's Content" name="content"></textarea>
				</article>
			</div>
		</div>
	</form>
{% endblock %}
