{% extends 'notes/base.html' %}

{% block title %}New Note | {{ notebook_title }}{% endblock %}

{% block content %}
	<form action="{% url 'notes:create-note' notebook_title %}" method="POST">
		{% csrf_token %}

		<nav class="tabs is-toggle is-right">
			<ul>
				<li>
					<a onclick="this.closest('form').submit();return false;" title="Save">
						<span class="icon is-small">
							<i class="fas fa-save"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="{% url 'notes:view-notes' notebook_title %}" title="Go Back">
						<span class="icon is-small">
							<i class="fas fa-undo-alt"></i>
						</span>
					</a>
				</li>
			</ul>
		</nav>

		<input class="input mb-4" type="text" placeholder="My Note's Title" name="title">

		<article class="columns is-multiline is-desktop">
			<section class="field column is-12">
				{{ form.content }}
			</section>
		</article>
	</form>
{% endblock %}
