<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Log in | Simple Notes</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<style>
			html, body {
				width: 100%;
				height: 100%;
			}

            .errorlist {
                color: red;
            }
		</style>
	</head>
	<body>
		<div style="width: 100%; height: 100%;" class="columns is-centered is-vcentered mx-0 my-0">
			<div class="box column is-narrow px-6 pt-6 pb-5">
				<h1 class="title has-text-centered">Log In</h1>
				<form action="{% url 'notes:log-in' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
					<div class="field">
						<label class="label" for="field-username">Username</label>
						<p class="control has-icons-left">
							<input id="field-username" class="input" type="text" placeholder="Username" name="username" required>
							<span class="icon is-small is-left">
								<i class="fas fa-user-circle"></i>
							</span>
						</p>
					</div>

					<div class="field">
						<label class="label" for="field-password">Password</label>
						<p class="control has-icons-left">
							<input id="field-password" class="input" type="password" placeholder="Password" name="password" required>
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field pt-2">
						<p class="control">
							<input class="input button is-rounded has-text-centered" type="submit" value="Log in">
						</p>
                        <p class="help is-danger has-text-centered">
                            {% if form.errors %}
                                Please enter a correct username and password.
                            {% endif %}
                        </p>
					</div>
				</form>
				<div class="block has-text-centered pt-3">
					<small>if you're not a member <a href="{% url 'notes:sign-up' %}">Sign up</a></small>
				</div>
			</div>
		</div>
	</body>
</html>
