{% extends 'notes/centered-box-base.html' %}

{% block title %}Log in | Simple Notes{% endblock %}

{% block content %}
	<h1 class="title has-text-centered">Log In</h1>
		<form action="{% url 'notes:log-in' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}">
			<div class="field">
				<label class="label" for="field-username">Username</label>
				<p class="control has-icons-left">
					<input id="field-username" class="input" type="text" placeholder="Username" name="username" required>
					<span class="icon is-small is-left">
						<i class="fas fa-user-circle"></i>
					</span>
				</p>
			</div>

			<div class="field">
				<label class="label" for="field-password">Password</label>
				<p class="control has-icons-left">
					<input id="field-password" class="input" type="password" placeholder="Password" name="password" required>
					<span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
				</p>
			</div>

			<div class="field pt-2">
				<p class="control">
					<input class="input button is-link has-text-centered" type="submit" value="Log in">
				</p>
				<p class="help is-danger has-text-centered">
					{% if form.errors %}
						Please enter a correct username and password.
					{% endif %}
				</p>
			</div>
		</form>
		<div class="block has-text-centered pt-3">
			<small>if you're not a member <a href="{% url 'notes:sign-up' %}">Sign up</a></small>
		</div>
{% endblock %}
